@page "/vehicles/edit"
@using Microsoft.EntityFrameworkCore
@using CarRentalManagement.Components.Domain
@inject IDbContextFactory<CarRentalManagement.Data.CarRentalManagementContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Vehicle</h2>
<hr />
@if (Vehicle is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Vehicle" OnValidSubmit="UpdateVehicle" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Vehicle.Id" value="@Vehicle.Id" />
                <div class="mb-3">
                    <label for="year" class="form-label">Year:</label>
                    <InputNumber id="year" @bind-Value="Vehicle.Year" class="form-control" />
                    <ValidationMessage For="() => Vehicle.Year" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="liscenseplatenumber" class="form-label">LiscensePlateNumber:</label>
                    <InputText id="liscenseplatenumber" @bind-Value="Vehicle.LiscensePlateNumber" class="form-control" />
                    <ValidationMessage For="() => Vehicle.LiscensePlateNumber" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="makeid" class="form-label">MakeId:</label>
                    <InputNumber id="makeid" @bind-Value="Vehicle.MakeId" class="form-control" />
                    <ValidationMessage For="() => Vehicle.MakeId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="modelid" class="form-label">ModelId:</label>
                    <InputNumber id="modelid" @bind-Value="Vehicle.ModelId" class="form-control" />
                    <ValidationMessage For="() => Vehicle.ModelId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="colourid" class="form-label">ColourId:</label>
                    <InputNumber id="colourid" @bind-Value="Vehicle.ColourId" class="form-control" />
                    <ValidationMessage For="() => Vehicle.ColourId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Vehicle.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Vehicle.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Vehicle.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Vehicle.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Vehicle.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Vehicle.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Vehicle.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Vehicle.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/vehicles">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Vehicle? Vehicle { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Vehicle ??= await context.Vehicle.FirstOrDefaultAsync(m => m.Id == Id);

        if (Vehicle is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateVehicle()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Vehicle!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!VehicleExists(Vehicle!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/vehicles");
    }

    private bool VehicleExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Vehicle.Any(e => e.Id == id);
    }
}
