@page "/makes/create"
@using Microsoft.EntityFrameworkCore
@using CarRentalManagement.Components.Domain
@inject IDbContextFactory<CarRentalManagement.Data.CarRentalManagementContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Make</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Make" OnValidSubmit="AddMake" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Make.Name" class="form-control" /> 
                <ValidationMessage For="() => Make.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Make.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Make.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Make.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Make.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Make.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Make.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Make.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Make.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/makes">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Make Make { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMake()
    {
        using var context = DbFactory.CreateDbContext();
        context.Make.Add(Make);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/makes");
    }
}
